* {
    padding: 0;
    margin: 0;
    color: rgb(46, 45, 45);
    font-family: inherit;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.card {
    background-color: #fff;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px 0;
    padding: 16px;
}

.parameters label {
    text-align: center;
    display: block;
    margin: 15px 0;
}
.parameters input {
    display: inline-block;
    text-align: center;
    width: 100%;
}